<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Nome:</ion-label>
    <ion-input [(ngModel)]="pessoa.nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email:</ion-label>
    <ion-input [(ngModel)]="pessoa.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha:</ion-label>
    <ion-input type="password" [(ngModel)]="pessoa.senha"></ion-input>
  </ion-item>

  <ion-label> Você pratica atividade física? </ion-label>
  <ion-card>
    <ion-item>
      <ion-icon name="contact" slot="start"></ion-icon>
      <ion-button color="success" (click)="sim()">sim</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-button color="danger" (click)="nao()">não</ion-button>
    </ion-item>
  </ion-card>


  <ion-button expand="full" fill="outline" (click)="cadastrar()"> Cadastrar</ion-button>

</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="arrow-round-forward"></ion-icon>
    <ion-button color="secondary" expand="full" href="cadastrar-massa"> calcular massa gorda </ion-button>
  </ion-item>
  <ion-item>
    <ion-icon name="arrow-round-back"></ion-icon>
    <ion-button color="secondary" expand="full" href="massagordainicio"> Voltar para o início </ion-button>
  </ion-item>
  <ion-item>
    <ion-icon name="list-box"></ion-icon>
    <ion-button color="secondary" expand="full" href="listar-pessoa"> lista de pessoas </ion-button>
  </ion-item>
</ion-footer>
