<ion-header >
  <ion-toolbar>
    <ion-title>
      Calcular massa gorda
    </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>



  <ion-item>
  <ion-label position="floating">IMC:</ion-label>
  <ion-input [(ngModel)] = "imc"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Idade:</ion-label>
  <ion-input [(ngModel)] = "idade" ></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Sexo:</ion-label>
  <ion-input [(ngModel)] = "sexo" ></ion-input>
  </ion-item>


  <ion-button expand = "full"  fill="outline" (click) = "calcular()"> calcular </ion-button>




</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="arrow-round-back"></ion-icon>
        <ion-button  color="secondary" expand = "full" href = "salvar-usuario"> voltar </ion-button>
    </ion-item>

  <ion-item>
    <ion-icon name="arrow-round-back"></ion-icon>
        <ion-button color="secondary" expand = "full" href = "massagordainicio"> Voltar para o início </ion-button>
    </ion-item>

  <ion-item>
    <ion-icon name="arrow-round-forward"></ion-icon>
      <ion-button  color="secondary" expand = "full" href = "grafico"> acompanhamento </ion-button>
    </ion-item>
</ion-footer>
