<ion-header>
  <ion-toolbar>
    <ion-title>
      Resetar senha
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" novalidate>
  <ion-list>
  <ion-item>
    <ion-label position="floating">Email:</ion-label>
      <input type="text" name = "email" [(ngModel)] = "pessoa.email"placeholder="coloque seu email" >
  </ion-item>
  <ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
        O campo é obrigatório
  </ion-item>

  </ion-list>

    <button ion-button block color="primary" [disabled]="!form.form.valid" (click)="resetPassword()">
      Resetar minha senha
    </button>
  </form>
</ion-content>
