<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Pessoas
    </ion-title>
      <ion-searchbar [(ngModel)]="valor" (ionChange)="filtrar()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="secondary">
    <ion-item *ngFor="let pessoa of listaFiltro | async">
      <ion-label>{{ pessoa.email }}</ion-label>
      <ion-button  (click)= "excluir(pessoa.key)"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="arrow-round-back"></ion-icon>
      <ion-button  color="secondary" expand = "full" href = "login"> voltar </ion-button>

    </ion-item>
</ion-footer>
