<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Pessoas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar [(ngModel)]="valor" (ionChange)="filtrar()"></ion-searchbar>
  <ion-list >
    <ion-item *ngFor="let pessoa of listaFiltro">
      <ion-label>{{ pessoa.email }}</ion-label>
      <ion-button  color = "danger" (click)= "excluir(pessoa.key)"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
</ion-footer>
