<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Peso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="secondary">
    <ion-item *ngFor="let massa of listaMassas | async">
      <ion-label>{{ massa.dia }}</ion-label>
      <ion-label> {{ massa.peso }}</ion-label>
      <ion-button expand="full" shape="round" href="listar-massa" (click)= "excluir(massa.key)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="arrow-round-back"></ion-icon>
      <ion-button  color="secondary" expand = "full" href = "grafico"> voltar </ion-button>
    </ion-item>
</ion-footer>
