<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Massas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="secondary">
    <h5> Data </h5>
    <ion-item *ngFor="let massa of listaMassas | async">

      <ion-label>     <h5> Data </h5> {{ massa.data }}</ion-label>
      <ion-title> Massa </ion-title>
      <ion-label> {{ massa.peso }}</ion-label>
      <ion-label>{{ massa.imc }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="arrow-round-back"></ion-icon>
      <ion-button  color="secondary" expand = "full" href = "grafico"> voltar </ion-button>
    </ion-item>
</ion-footer>
