<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Peso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="valor" (ionChange)="filtrar()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let massa of listaFiltro">
      <ion-label>{{ massa.dia }}</ion-label>
      <ion-label> {{ massa.peso }}</ion-label>
      <ion-button (click)="excluir(massa.key)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="alterar(massa)">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="arrow-round-back"></ion-icon>
    <ion-button color="secondary" expand="full" href="cadastrar-massa"> voltar </ion-button>
  </ion-item>
</ion-footer>
