<ion-header>
  <ion-toolbar>
    <ion-title>
      Exercicícios
    </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
     <ion-searchbar></ion-searchbar>


  <ion-button  expand = "full"  fill="outline" href = "localizado"> Localizado </ion-button>
  <ion-button expand = "full"  fill="outline" href = "aquecimento"> Aquecimento </ion-button>

</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="arrow-round-back"></ion-icon>
        <ion-button color="secondary" expand = "full" href = "dicas"> voltar </ion-button>
    </ion-item>
</ion-footer>
