<ion-header>
  <ion-toolbar>
    <ion-title>
      Perda de peso
    </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>

  <ion-img src = "../../../assets/img/linhaça-para-emagrecer.png" ></ion-img>



  <h4>Alimentos permitidos: carnes magras, peixes, ovos, frutos do mar, leite e derivados desnatados, sementes, castanhas, legumes, verduras e frutas.
      Alimentos proibidos: açúcar, batatas, macarrão, pão, arroz, farinhas, maionese, manteiga, óleo, azeite, banana, uva, abacate e carnes processadas como linguiça, salsicha, bacon e presunto.</h4>







</ion-content>
<ion-footer>
  <ion-button  color="secondary" expand = "full" href = "alimentacao"> voltar </ion-button>
</ion-footer>
