<ion-header>
  <ion-toolbar>
    <ion-title>lista de pesos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let peso of listaPeso| async">
      <ion-item>
      <ion-label>{{ imc.peso }}</ion-label>
      <ion-label>{{ imc.altura }}</ion-label>
      <ion-icon name="trash"></ion-icon>
      <ion-button expand="full" shape="round" href="listar-peso" (click)= "excluir(peso.key)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item-options side="left">
       <button ion-button color="secondary" (click)="editPeso(peso)">
         <ion-icon name="create"></ion-icon>
       </button>
       <button ion-button color="danger" (click)="removePeso(peso.key)">
         <ion-icon name="trash"></ion-icon>
       </button>
     </ion-item-options>
   </ion-item-sliding>
 </ion-list>

 <ion-fab bottom right>
   <button ion-fab color="primary" (click)="newPeso()">
     <ion-icon name="add"></ion-icon>
   </button>
 </ion-fab>
    <ion-button expand="full" fill="outline" href = "salvar-peso"> voltar </ion-button>

</ion-content>
