<ion-header>
  <ion-toolbar>
    <ion-title>lista de pesos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="valor" (ionChange)="filtrar()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let peso of listaFiltro">
      <ion-label>{{ peso.peso }}</ion-label>
      <ion-label>{{ peso.altura }}</ion-label>
      <ion-button  (click)="excluir(peso.key)"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
  <ion-button expand="full" color = "secondary" href="salvar-peso"> voltar </ion-button>

</ion-content>
