<ion-header>
  <ion-toolbar>
    <ion-title>lista de pesos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let peso of listaPeso| async">
      <ion-label>{{ imc.peso }}</ion-label>
      <ion-label>{{ imc.altura }}</ion-label>
    </ion-item>
  </ion-list>
    <ion-button expand="full" fill="outline" href = "salvar-peso"> voltar </ion-button>
    <h2>Filtro</h2>

  <ion-item>
    <ion-label position="floating">Escolha um filtro</ion-label>
    <ion-select [(ngModel)]="peso" (ionChange)="filterExact('peso', peso)">
      <ion-select-option *ngFor='let peso of listaPeso | async' [value]="imc.peso" >{{imc.peso}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button *ngIf="peso" (click)="removeFilter('peso')">Remove filtro</ion-button>

  <ion-item>
    <ion-label position="floating">Digite o filtro</ion-label>
    <ion-input type="text" [(ngModel)]="peso" (change)="filterGreaterThan('peso', peso)"></ion-input>
  </ion-item>
  <ion-button *ngIf="peso" (click)="removeFilter('peso')">Remove filter</ion-button>

  <h4>Endangered Species</h4>
  <ion-checkbox [(ngModel)]="peso" (ionChange)="filterBoolean('status', true)">Ativo</ion-checkbox>

  <div >
    <ion-list>
      <ion-item *ngFor="let p of filtroPeso">
        <ion-label>{{imc.peso}}</ion-label>
      </ion-item>
    </ion-list>
</div>
</ion-content>
