<ion-header>
  <ion-toolbar>
    <ion-title>
      Ganho de peso
    </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
        Alimentos ricos em proteína são grandes aliados: dê preferência às carnes magras (alcatra, filé mignon, maminha, fraldinha) , frango e principalmente peixes e ovos, além de leite e queijos brancos como ricota e minas.
    Aposte nas “gorduras boas”: amendoim, nozes, amêndoa, avelã, castanhas, azeite de oliva, linhaça e abacate.
    Aumente o consumo de pães, bolos, massas, mandioca, batata, milho e cereais (arroz, farinha de trigo, fubá, aveia), lembrando sempre de optar pelas versões integrais.
    Caso queira ganhar peso em massa muscular, procure também um Educador Físico para orientá-lo.
    Evite alimentos nas versões diet e light, baixo teor de gorduras, calorias reduzidas.
    Evite o uso de adoçantes artificiais, usando sempre o açúcar (mascavo, demerara, cristal) ou mel.
    Consuma frutas mais calóricas nos lanches como ameixa preta, uva passa, banana, abacate, caqui, manga, suco de laranja (2-3 unidades da fruta) ou suco de tamarindo.
    Utilize combinação de cereais nas refeições: arroz e milho, mandioca e batata, pão com milho, arroz e batata, vitamina de frutas com aveia ou flocos de cereais.
    Estimule a fome, alimentando-se a cada 3 horas. Tente fazer de 5 a 6 refeições por dia. Café da manhã, lanche, almoço, lanche, jantar e um lanche antes de dormir. O maior fracionamento permite você controlar melhor seu apetite.
    Adicione 1 colher (sopa) de azeite ou farelo de aveia no almoço e jantar.
    Faça pratos bonitos, coloridos e atraentes, pois, a aparência do alimento exerce muita influência sobre o apetite.
    Beba uma boa quantidade de água durante o dia, no mínimo 7 a 8 copos.
    Caso queira ganhar peso em massa muscular, procure também um Educador Físico para orientá-lo.
</ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="arrow-round-back"></ion-icon>
      <ion-button color="secondary" expand = "full" href = "alimentacao"> voltar </ion-button>
    </ion-item>
</ion-footer>
