<ion-header>
  <ion-toolbar>
    <ion-title>
      Gráfico de acompanhamento
    </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>

<ion-img src = "../../../assets/img/TEMPO.jpg" ></ion-img>

<ion-card>
   <ion-card-header>
     Bar Chart
   </ion-card-header>
   <ion-card-content>
     <canvas #barCanvas></canvas>
   </ion-card-content>
 </ion-card>








</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="arrow-round-back"></ion-icon>
      <ion-button  color="secondary" expand = "full" href = "massagordafim"> voltar </ion-button>
    </ion-item>
  <ion-item>
    <ion-icon name="arrow-round-forward"></ion-icon>
        <ion-button color="secondary" expand = "full" href = "dicas"> dicas </ion-button>
    </ion-item>
</ion-footer>
