<ion-header>
  <ion-toolbar>
    <ion-title>
      Gráfico de acompanhamento
    </ion-title>
    <ion-list>
        <ion-item href = "massagordainicio">Tela inicial</ion-item>
        <ion-item href = "salvar-imc">Calcular imc</ion-item>
        <ion-item href = "login">Login</ion-item>
        <ion-item href = "cadastrar-massa">cadastrar massa</ion-item>
        <ion-item href = "listar-massa">lista de peso</ion-item>
        <ion-item href = "salvar-peso">cadastrar peso</ion-item>
        <ion-item href = "listar-peso">lista de pesos e altura</ion-item>
        <ion-item href = "salvar-pessoa">cadastro</ion-item>
        <ion-item href = "listar-pesso">lista de usuários</ion-item>
      </ion-list>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-icon name="list-box"></ion-icon>
    <ion-button color="secondary" expand="full" href="listar-peso"> lista de pesos </ion-button>
  </ion-item>

  <ion-img src="../../../assets/img/TEMPO.jpg"></ion-img>






</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="arrow-round-forward"></ion-icon>
    <ion-button color="secondary" expand="full" href="salvar-imc"> voltar </ion-button>
  </ion-item>
</ion-footer>
