<ion-header>
  <ion-toolbar>
    <ion-title>
      Gráfico de acompanhamento
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-icon name="list-box"></ion-icon>
    <ion-button color="secondary" expand="full" href="listar-peso"> lista de pesos </ion-button>
  </ion-item>

  <ion-img src="../../../assets/img/TEMPO.jpg"></ion-img>








</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="arrow-round-forward"></ion-icon>
    <ion-button color="secondary" expand="full" href="cadastrar-massa"> voltar </ion-button>
  </ion-item>
</ion-footer>
