<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color = "danger" href = "grafico">acompanhamento</ion-button>
  <ion-button color = "danger" href="salvar-peso">cadastrar peso</ion-button>
  <ion-button color = "danger" href="salvar-imc"  >Salvar IMC</ion-button>
  <ion-button color = "danger" href="login" >login</ion-button>
  <ion-button color = "danger" href = "cadastrar-massa" >calcular massa</ion-button>
  <ion-button color = "danger" href = "listar-massa" >lista de pesos</ion-button>
  <ion-button color = "danger" href = "massagordainicio"  >inicio</ion-button>
  <ion-button color = "danger" href = "listar-pessoa" >lista de usuários</ion-button>
  <ion-button color = "danger" href = "listar-imc" >lista de alturas</ion-button>
</ion-content>
