<ion-header color = "dark">
  <ion-toolbar color = "dark">
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "dark">
  <ion-item color = "dark">
    <ion-button color="danger" href="massagordainicio">inicio</ion-button>
  </ion-item>
  <ion-item color = "dark">
    <ion-button color="danger" href="login">login</ion-button>
  </ion-item>
  <ion-item color = "dark">
    <ion-button color="danger" href="salvar-pessoa">cadastro</ion-button>
  </ion-item>
  <ion-item color = "dark">
    <ion-button color="danger" href="listar-pessoa">lista de usuários</ion-button>
  </ion-item >
  <ion-item color = "dark">
    <ion-button color="danger" href="cadastrar-massa">calcular massa</ion-button>
  </ion-item>
  <ion-item color = "dark">
    <ion-button color="danger" href="listar-massa">lista de pesos e alturas</ion-button>
  </ion-item>
  <ion-item color = "dark">
    <ion-button color="danger" href="grafico">acompanhamento</ion-button>
  </ion-item>
  <ion-item color = "dark">
    <ion-button color="danger" href="salvar-imc">Salvar IMC</ion-button>
  </ion-item>
  <ion-item color = "dark">
    <ion-button color="danger" href="listar-imc">lista de IMC</ion-button>
  </ion-item>
</ion-content>
