<ion-header>
  <ion-toolbar>
    <ion-title>
      Calcular massa gorda
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-button (click)="tela()">telas</ion-button>
  </ion-item>
  <form #meuSonho='ngForm'>
    <ion-item>
      <ion-label position="floating">Ano de nascimento *:</ion-label>
      <ion-input #data='ngModel' [(ngModel)]="massa.data" name="data" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sexo *:</ion-label>
      <ion-input #sexo='ngModel' [(ngModel)]="massa.sexo" name="sexo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Data:</ion-label>
      <ion-datetime displayFormat="MM DD" placeholder="selecione a data" [(ngModel)]="massa.dia" name="dia"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Altura:</ion-label>
      <ion-input [(ngModel)]="massa.altura" name="altura"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">IMC *:</ion-label>
      <ion-input #imc='ngModel' [(ngModel)]="massa.imc" name="imc" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Peso *:</ion-label>
      <ion-input #peso='ngModel' [(ngModel)]="massa.peso" name="peso" required></ion-input>
    </ion-item>
  </form>
  <span style='color:red' *ngIf="data.errors && data.touched">
    <ion-label>A data de nascimento é obrigatória! </ion-label>
  </span>
  <span style='color:blue' *ngIf="sexo.errors && sexo.touched">
    <ion-label> O sexo é obrigatório!</ion-label>
  </span>
  <span style='color:red' *ngIf="imc.errors && imc.touched">
    <ion-label>O imc é obrigatório! </ion-label>
  </span>
  <span style='color:blue' *ngIf="peso.errors && peso.touched">
    <ion-label> O peso é obrigatório!</ion-label>
  </span>



  <ion-button [disabled]='!meuSonho.form.valid' expand="full" color="danger" (click)="calcular()"> calcular </ion-button>
  <ion-button [disabled]='!meuSonho.form.valid' expand="full" color="danger" (click)="salvar()"> salvar dados </ion-button>





</ion-content>
<ion-footer>
</ion-footer>
