<ion-header>
  <ion-toolbar>
    <ion-title>
      Boa alimentação
    </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      Escolha os alimentos corretamente. Opte mais pelos alimentos que a natureza produz. Evite o excesso de industrializados e principalmente evite os ultraprocessados. Descasque mais e desembale menos.

- Mastigue bem os alimentos, assim terá melhor digestão, absorção de nutrientes, saciedade e consequentemente controle do metabolismo e peso corporal.

- Evite temperos industrializados. Use e abuse dos sabores e aromas especiais de alho, cebola, alho poro, gengibre, açafrão, alecrim, coentro, orégano, manjericão, pimentas de tantos tipos, salsão, salsinha e cebolinha e outros que melhoram o paladar e principalmente o valor nutricional da preparação.
Inclua frutas e vegetais no seu dia a dia e os consuma com casca e bagaço quando possível para aproveitar melhor todos os seus elementos. As fibras neles contidas auxiliam no bom funcionamento intestinal, na saciedade e ainda permitem uma elevação de glicemia, dentro da nossa corrente sanguínea, mais lentamente e isso é favorável inclusive para evitar ganho excessivo de peso.
Um prato colorido significa uma boa variedade de alimentos e, portanto, de nutrientes. Com isso a sua saúde agradece.
Opte por carnes magras, sem gordura aparente e preferencialmente cozidas.
Escolha um bom azeite de oliva extravirgem, rico em gorduras boas, com poder antioxidante e anti-inflamatório que promova fortalecimento do sistema imunológico, além de prevenir doenças cardiovasculares, combater o envelhecimento precoce e doenças degenerativas.
  </ion-card-content>
    </ion-card>




</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="arrow-round-back"></ion-icon>
      <ion-button color="secondary" expand = "full" (click) = "ir()"> Voltar </ion-button>
    </ion-item>
</ion-footer>
