<ion-header>
  <ion-toolbar>
    <ion-title>
      Aquecimento
    </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
  <h4>Os melhores exercícios para emagrecer são os aeróbicos, como caminhada rápida, corrida, andar de bicicleta, remo ou natação. Esse tipo de atividade física queima muitas calorias em pouco tempo, sendo ideais para queimar gordura acumulada, além disso melhoram a força do coração e a capacidade respiratória. Devem ser realizados no mínimo durante 20 minutos, diariamente.</h4>
    </ion-card-content>
  </ion-card>





</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="arrow-round-back"></ion-icon>
      <ion-button  color="secondary" expand = "full"  href = "exercicio"> voltar </ion-button>
    </ion-item>
</ion-footer>
