<ion-header>
  <ion-toolbar>
    <ion-title>
      Cálculo do IMC
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Peso:</ion-label>
    <ion-input name="peso" [(ngModel)]="imc.peso"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Altura:</ion-label>
      <ion-select [(ngModel)]="imc.altura">
        <ion-select-option *ngFor='let imc of listaImc | async' [value]="imc" >{{imc.peso}}</ion-select-option>
      </ion-select>
    </ion-item>
  <div>
    <ion-item>
     <ion-label position="floating">Mais</ion-label>
     <ion-select [(ngModel)]="acao" (ionChange)="acessar()">
       <ion-select-option href = "filtro">FILTRAR</ion-select-option>
       <ion-select-option href = "listar-imc" >LISTAR</ion-select-option>
     </ion-select>
   </ion-item>
  </div>
  <ion-button expand="full" fill="outline" (click)="calcular()"> calcular </ion-button>
  <ion-button expand="full" fill="outline" (click)="salvar()"> salvar </ion-button>
</ion-content>
<ion-footer>
  <ion-button expand="full" fill="outline" href="grafico"> acompanhamento </ion-button>
  <ion-button expand="full" fill="outline" href="cadastrar-massa"> voltar </ion-button>
</ion-footer>
