<ion-header>
  <ion-toolbar>
    <ion-title>
      O que é o C.N. to life?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-img src = "../../../assets/img/download.jpg" ></ion-img>

    <h3>Ele é um aplicativo que tem por objetivo ajudar as pessoas a corrigirem os seus maus hábitos em relação a sua saúde, calculando a sua massa gorda e massa magra.</h3>

    <h3>Mas afinal, o que é massa gorda?</h3>
    <p>  É tudo o que mais incomoda a maioria das pessoas, ou seja, a gordura em nosso corpo. Obviamente, a massa gorda tem uma função, o que traz problemas é o excesso. Essa gordura tem papel fundamental na proteção de nossos órgãos, envolvendo-os, mas, obviamente, em grande quantidade, provocará transtornos. Para tudo é preciso equilíbrio.</p>

    <ion-button  href = "massagordameio"> cadastrar usuário </ion-button>
    <ion-button  href = "massagordafim"> calcular massa gorda </ion-button>
  </div>
</ion-content>
