<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
  <ion-card-header>
    <ion-card-title>O que é o C.N. to life?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Ele é um aplicativo que tem por objetivo ajudar as pessoas a corrigirem os seus maus hábitos em relação a sua saúde, calculando a sua massa gorda e massa magra.
  </ion-card-content>
</ion-card>

<ion-img src = "../../../assets/img/download.jpg" ></ion-img>
<ion-card >
  <ion-card-header>
    <ion-card-title > Mas afinal, o que é massa gorda?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
     É tudo o que mais incomoda a maioria das pessoas, ou seja, a gordura em nosso corpo. Obviamente, a massa gorda tem uma função, o que traz problemas é o excesso. Essa gordura tem papel fundamental na proteção de nossos órgãos, envolvendo-os, mas, obviamente, em grande quantidade, provocará transtornos. Para tudo é preciso equilíbrio.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item href="#" class="activated">
    <ion-icon name="contact" slot="start"></ion-icon>
    <ion-button  color="secondary" expand= "full" href = "massagordameio"> cadastrar usuário </ion-button>
  </ion-item>

  <ion-item>
    <ion-icon name="walk" slot="start"></ion-icon>
    <ion-button  color="secondary" expand= "full" href = "massagordafim"> calcular massa gorda </ion-button>
  </ion-item>
</ion-card>
</ion-content>
<ion-footer>
</ion-footer>
