<ion-header>
  <ion-toolbar>
    <ion-title>lista de IMC</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let imc of listaImc| async">
      <ion-label>{{ peso.altura }}</ion-label>
      <ion-label>{{ peso.peso }}</ion-label>
      <ion-button expand="full" shape="round"  (click)="excluir(imc.key)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color = "secondary"shape="round" href="salvar-imc">voltar</ion-button>

</ion-content>
