<ion-header>
  <ion-toolbar>
    <ion-title>
      Alimentação
    </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>









  <ion-button expand = "full"  fill="outline" href = "ganho"> Ganho </ion-button>
  <ion-button expand = "full"  fill="outline" href = "perda"> Perda </ion-button>
  <ion-button expand = "full"  fill="outline" href = "boa"> Boa alimentação </ion-button>

</ion-content>
<ion-footer>
  <ion-button  color="secondary" expand = "full" href = "dicas"> voltar </ion-button>
</ion-footer>
