<ion-header>
  <ion-toolbar>
    <ion-title>
      Localizado
    </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
  <h4>Ex. 1: Na posição de 4 apoios, com os cotovelos apoiados no chão, elevar uma perna acima da linha da altura do quadril, como mostra a segunda imagem. A elevação da perna é de cerca de 10 centímetros e não é preciso apoiar o joelho no chão. Fazer 8 elevações e descansar durante 30 segundos. Repetir o exercício mais 2 vezes.
      Ex 2: Deitada de barriga para cima, com as mãos ao longo do corpo, elevar o quadril do chão como mostra a primeira imagem. Elevar o quadril do chão 8 vezes seguidas e descansar 30 segundos. Repetir o mesmo exercício mais 2 vezes.</h4>







</ion-content>
<ion-footer>
  <ion-button  href = "exercicio"> voltar </ion-button>
</ion-footer>
