<ion-header >
  <ion-toolbar >
    <ion-title >
      Health Now
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color = "dark">

    <ion-item>
      <ion-icon name="contact"></ion-icon>
      <ion-button color="secondary" href="login"> login </ion-button>
    </ion-item>



  <div class="ion-padding">
    <ion-icon name="bycycle"></ion-icon>
    <ion-img src="../../../assets/img/1.jpg"></ion-img>





  </div>
</ion-content>
<ion-footer color = "dark">
  <ion-item>
    <ion-icon name="send"></ion-icon>
    <ion-button color="secondary" expand="full" (click)="direcionar()"> Tela inicial </ion-button>
  </ion-item>
</ion-footer>
