<ion-header>
  <ion-toolbar>
    <ion-title>
      C.N. to life
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="contact"></ion-icon>
    <ion-button color="secondary" href = "massagordameio"> login </ion-button>
  </ion-item>

  <div class="ion-padding">
    <ion-icon name = "bycycle"></ion-icon>
    <ion-img src = "../../../assets/img/Design sem nome.jpg" ></ion-img>





  </div>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-icon name="send"></ion-icon>
    <ion-button  color="secondary" expand= "full" href = "massagordainicio"> Tela inicial </ion-button>
  </ion-item>
</ion-footer>
