<ion-header>
  <ion-toolbar>
    <ion-title>
      Dicas
    </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>









  <ion-button expand = "full"  fill="outline" href = "exercicio"> Exercicíos </ion-button>
  <ion-button expand = "full"  fill="outline" href = "alimentacao"> Alimentação </ion-button>






</ion-content>
<ion-footer>
  <ion-item>
<ion-icon name="arrow-round-back"></ion-icon>
  <ion-button color="secondary" expand = "full" href = "grafico"> voltar </ion-button>
  </ion-item>
</ion-footer>
