<ion-header>
  <ion-toolbar>
    <ion-title>
      Atualizar peso e altura
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button color = "dark" expand = "full" (click)="tela()"> <ion-icon name="add-circle"></ion-icon>telas</ion-button>
  <form #meuSonho = 'ngForm'>
  <ion-item>
<ion-label position="floating">Peso:</ion-label>
<ion-input #peso = 'ngModel' [(ngModel)]="peso.peso" name = "peso" required></ion-input>
</ion-item>
  <ion-item>
  <ion-label position="floating">Altura:</ion-label>
  <ion-input #altura = 'ngModel' [(ngModel)]="peso.altura"  name = "altura" maxlength = "4" required></ion-input>
  </ion-item>
  </form>
  <span style = 'color:red' *ngIf = "peso.errors && peso.touched">
    <ion-label>O peso é obrigatório!      </ion-label>
  </span>
  <span style = 'color:blue' *ngIf = "altura.errors && altura.touched">
    <ion-label>       A altura é obrigatória (máximo 3 caracteres)!</ion-label>
  </span>

  <ion-button [disabled] = '!meuSonho.form.valid' expand="full" color="secondary" (click)="salvar()"> salvar </ion-button>

</ion-content>
